@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}
/* share style */
.nav,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}

.banner button,
.quick-list-text button {
  background-color: rgba(255, 144, 14, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-weight: 600;
  border-radius: 10px;
  padding: 20px 25px;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* nav style */
.nav {
  display: flex;
  justify-content: space-between;
  /* margin: 50px 220px; */
  align-items: center;
}
.nav h2 {
  font-size: 2.8rem;
  font-weight: 800;
}
.nav ul {
  display: flex;
  gap: 50px;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-weight: 500;
}
/* banner style */
.banner {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
}
.banner h2 {
  font-size: 4rem;
  font-weight: 800;
  max-width: 850px;
  text-align: center;
  margin-bottom: 10px;
}
.banner p {
  color: rgba(66, 66, 66, 1);
  max-width: 850px;
  text-align: center;
}

.banner img {
  border-radius: 10px;
  margin-bottom: 45px;
}
/* quick list style */
.quick-list {
  margin: 70px auto;
  display: flex;
  max-width: 1440px;
  gap: 70px;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-list img {
  border-radius: 10px;
}
.quick-list-text {
  max-width: 530px;
  max-height: 300px;
  display: grid;
  justify-items: start;
  align-items: center;
  margin: auto;
}
.quick-list-text h3 {
  font-size: 3rem;
  font-family: 800;
  max-width: 468px;
  margin-bottom: 10px;
}
.dark {
  color: rgba(114, 114, 114, 1);
  font-weight: 600;
}
.black {
  font-weight: 800;
}
.orange {
  color: rgba(255, 144, 14, 1);
}
.quick-list-text p {
  color: rgba(114, 114, 114, 1);
  margin: 0;
}
/* features style */
.features-section {
  max-width: 1440px;
  margin: auto;
  display: flex;
  gap: 140px;
}
.features-text h2 {
  font-size: 2.8rem;
  font-weight: 800;
  max-width: 460px;
  padding-left: 20px;
  border-left: 5px solid rgba(255, 144, 14, 1);
  margin-bottom: 5px;
}
.features-text p {
  max-width: 580px;
  color: rgba(114, 114, 114, 1);
  margin-bottom: 30px;
}
.feature {
  padding: 20px 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  max-width: 580px;
  max-height: 170px;
}
.feature h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.feature p {
  color: rgba(114, 114, 114, 1);
}
.feature-img {
  position: relative;
}
.experience {
  padding: 46px 42px;
  background-color: rgba(255, 144, 14, 1);
  color: white;
  border-radius: 10px;
  max-width: 340px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  left: -80px;
}
.experience h3 {
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}
.experience span {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
/* facts style */
.facts {
  display: grid;
  max-width: 1440px;
  margin: 50px auto;
  gap: 60px;
}
.facts-text h2 {
  font-size: 2.8rem;
  font-weight: 800;
}
.facts-text p {
  color: rgba(114, 114, 114, 1);
  max-width: 540px;
}
.facts-card {
  display: flex;
  gap: 80px;
  margin: 50px;
}
.fact-card {
  padding: 45px 35px;
  text-align: center;
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 10px;
  flex: 1;
}
.fact-card h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px;
}
.fact-card span {
  font-size: 1.25rem;
  font-weight: 500;
}
/* sponsors style */
.sponsors-section {
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
}
.sponsors-section h2 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.sponsors-section p {
  max-width: 540px;
  color: rgba(114, 114, 114, 1);
  margin: 20px auto 50px;
}
.sponsors-img {
  display: grid;
  justify-items: space-between;
  grid-template-columns: repeat(5, 1fr);
  gap: 150px;
}
.sponsors-img {
  filter: grayscale(100%);
}
/* footer style */
.footer {
  max-width: 1440px;
  color: rgba(114, 114, 114, 1);
  font-weight: 600;
  background-color: rgba(255, 244, 231, 1);
  margin: 130px auto 200px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}
/* responsive layout */
@media only screen and (max-width: 600px) {
  /* header */
  .nav {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
  }
  .nav h2 {
    font-size: 2rem;
    margin: 10px auto;
  }
  .nav ul {
    gap: 20px;
  }
  .banner img {
    width: 100%;
  }
  .banner h2 {
    margin: 10px;
  }
  header {
    margin-bottom: 50px;
  }
  /* quick list */
  .quick-list {
    display: grid;
    justify-content: center;
    margin: auto;
    gap: 0;
  }

  .quick-list-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  /* features */
  .features-section {
    margin: 50px auto;
    display: grid;
    justify-content: center;
    gap: 0;
  }
  .feature-img {
    display: grid;
    justify-items: center;
    gap: 10px;
  }
  .feature-img img {
    width: 100%;
  }
  .experience {
    position: initial;
    padding: 10px 20px;
  }
  .experience h3 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .experience span {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }
  .facts {
    gap: 0;
  }
  .facts-card {
    /* display: grid;
    grid-template-columns: repeat(2, 2fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex: 1;
  }
  .fact-card {
    max-width: 200px;
    margin: auto;
  }
  /* sponsor style */
  .sponsors-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: auto;
  }
}
